<!DOCTYPE html>
<html>
<head>
    <title>Add Animal</title>
</head>
<body>
    <h1>Add Animal Information</h1>
    <form action="{{ url_for('main_routes.add_animal') }}" method="POST">
        <label for="name">Animal Name:</label>
        <input type="text" name="name" required>
        
        <label for="code">Animal Code:</label>
        <input type="text" name="code" required>
        
        <label for="remarks">Remarks:</label>
        <textarea name="remarks"></textarea>
        
        <input type="submit" value="Add Animal">
    </form>
</body>
</html>
