{% extends 'base.html' %} 

{% block content %}
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVDYWK6leViH9msDiR2wvVcn6w9ymyyM&loading=async&libraries=visualization&callback=initMap">
</script>

<div id="map"></div>
<script>
  let map;

  function initMap() {
    // Centered around Perth, WA
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -31.9523, lng: 115.8613 }, 
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.HYBRID, 
    });

    // Example heatmap data (you'll likely replace this with your actual data)
    var heatMapData = [
      { location: new google.maps.LatLng(-31.902, 115.887), weight: 0.5 },
      new google.maps.LatLng(-31.922, 115.845),
      { location: new google.maps.LatLng(-31.932, 115.893), weight: 2 },
      { location: new google.maps.LatLng(-31.942, 115.851), weight: 3 },
      { location: new google.maps.LatLng(-31.912, 115.879), weight: 2 },
      new google.maps.LatLng(-31.932, 115.837),
      { location: new google.maps.LatLng(-31.942, 115.865), weight: 0.5 },
      // ... more data points around Perth
    ];

    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: heatMapData,
    });

    // Add the heatmap to the map *inside* initMap()
    heatmap.setMap(map); 
  }

  window.onload = initMap;
</script>
{% endblock %}