{% extends 'base.html' %} 
{% block content %}
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkVDYWK6leViH9msDiR2wvVcn6w9ymyyM&loading=async&libraries=visualization&callback=initMap">
</script>

<div id="map"></div>
<script>
  let map;
  // let heatmap;

  // Example: Simulated livestock data points for the heatmap
  /* Data points defined as a mixture of WeightedLocation and LatLng objects */
  var heatMapData = [
    { location: new google.maps.LatLng(37.782, -122.447), weight: 0.5 },
    new google.maps.LatLng(37.782, -122.445),
    { location: new google.maps.LatLng(37.782, -122.443), weight: 2 },
    { location: new google.maps.LatLng(37.782, -122.441), weight: 3 },
    { location: new google.maps.LatLng(37.782, -122.439), weight: 2 },
    new google.maps.LatLng(37.782, -122.437),
    { location: new google.maps.LatLng(37.782, -122.435), weight: 0.5 },

    { location: new google.maps.LatLng(37.785, -122.447), weight: 3 },
    { location: new google.maps.LatLng(37.785, -122.445), weight: 2 },
    new google.maps.LatLng(37.785, -122.443),
    { location: new google.maps.LatLng(37.785, -122.441), weight: 0.5 },
    new google.maps.LatLng(37.785, -122.439),
    { location: new google.maps.LatLng(37.785, -122.437), weight: 2 },
    { location: new google.maps.LatLng(37.785, -122.435), weight: 3 },
  ];

  var sanFrancisco = new google.maps.LatLng(37.774546, -122.433523);

  map = new google.maps.Map(document.getElementById("map"), {
    center: sanFrancisco,
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.HYBRID, // Satellite view
    //mapTypeId: "satellite",
  });

  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatMapData,
  });
  heatmap.setMap(map);
  // Call initMap when the page loads
      window.onload = initMap;
</script>

{% endblock %}
